.login-container {
  width: 500px; /* Increased width */
  height: 400px; /* Increased height */
  margin: 100px auto;
  padding: 40px;
  background-color: #f2f2f2;
  border-radius: 8px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 2px;
  color: #000000;
}

.login-container form {
  margin-bottom: 25px;
}

.login-container .form-group {
  margin-bottom: 25px;
  text-align: left;
}

.login-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-container input {
  width: 95.7%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container p {
  margin-top: 30px;
}

.login-container a {
  color: #000000;
}


