.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(44, 164, 234, 0.752);
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar-logo img {
  width: 130px;
  height: 70px;
}

.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  
  }
.navbar-nav li{
  list-style: none;
  padding:0 20px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.navbar-nav :hover{
  color: rgba(219, 22, 22, 0.78);
}

.navbar-nav :hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: red;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.navbar-right{
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s ease-in-out
}

.navbar-right:hover{
  color: rgba(219, 22, 22, 0.78);
}

.cart-icon {
  padding-left: 1.5rem;
}

.login-link:hover{
  color: rgba(219, 22, 22, 0.78);
}

.cart-icon:hover{
  color: rgba(219, 22, 22, 0.78);
}
